.cart_logo {
    position: relative;
}

.cart_logo span {
    font-size: 0.9rem;
    font-weight: 500;
    background-color:#0f3460;
    padding: 0px 6px;
    border-radius: 50%;
    position: absolute;
    top: -6px;
    left: 10px;
    color: white;
}