.bgColor1{
    background-color:#fdefe6 ;
}
.bgColor2{
    background-color:#ceebe9 ;
}
.bgColor3{
    background-color:#e2f2b2 ;
}
.bgColor4{
    background-color:#d6e5fb ;
}
.bgColor5{
    background-color:#0f3460 ;
}
.bgColor6{
    background-color: #FFFF00;
}

.textColor1{
    background-color: #FFFFFF;
}
.textColor2{
    background-color: #FFFF00;
}