.cart_section .increment_button {
    padding: 2px 8px;
    border: 1px solid #0f3460;
    color: #0f3460;
}

.cart_section .decrement_button {
    padding: 2px 10px;
    border: 1px solid #0f3460;
    color: #0f3460;
}

