/* carousel Styling */
.carousel-item .row {
    height: 75vh;
}

/* Service Section */
.service_section i{
    background-color: white;
    padding: 10px;
    border-radius: 50%;
}

/* Discount Section Styling*/
.discount_section{
    padding: 3rem 0;
    margin-top: 2rem;
    background-color:#f6f9fc;
}
.discount_section .discount_tag h6{
    background-color: #0f3460;
    color: white;
    padding: 0.8rem 1.1rem;
    border-radius: 5px;
    margin: 0.5rem;
}
.discount_section .discount_tag i{
    margin: 0.8rem 0.5rem;
    color: red;
    font-size: 1.5rem;
    opacity: 0;
    transition: opacity 0.3s linear;
}
.discount_section .card:hover i{
    opacity: 1;
}
.stars_icon{
    margin: 1rem 0;
}
.stars_icon i{
    color: #ffcd4e;
}
.price_tag button{
    border: 0;
    cursor: pointer;
    padding: 2px 14px 4px 14px;
    border-radius: 50%;
    font-size: 1.5rem;
    transition: all 0.3s linear;
}
.price_tag button:hover{
    background-color: #0f3460;
    color: white;
}

/* New Arrivals */
.newArrivals_section{
    margin-top: 2rem;
}

/* Best Sales Section */
.bestSales_section{
    padding: 3rem 0;
    margin-top: 2rem;
    background-color:#f6f9fc;
}




@media (max-width:992px) {
    /* carousel Styling */
    .carousel-item .row {
        height: 100vh;
    }
}