.conatiner{
    width: 400px;
    height: 120px;
    border: 1px solid;
    padding: 8px;
    margin: 10px 0;
}

.heading{
    background-color: orange;
    text-align: center;
}

.para{
   text-decoration: underline;
}