#App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


.service_section i{
  background-color: white;
  padding: 10px;
  border-radius: 50%;
}


.bi-heart-fill{
opacity: 0;
}
.card:hover .bi-heart-fill{
  opacity: 1;
}
.card button:hover{
  background-color:#0f3460 ;
}

