.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 25rem;
    min-width: 18rem;
}
.card img {
    width: 10rem;
    height: 10rem;
    margin-top: 1rem;
}
.card-title{
    height: 3rem;
    overflow: hidden;
}
.card-text{
    height: 4.5rem;
    overflow: hidden;
}