footer{
    margin-top: auto;
    background-color: #0f3460;
    color: #FFFFFF;
}

#arrow_up{
    position: fixed;
    right:25px;
    bottom: 20px;
    z-index: 99;
    width: 2.5rem;
    height: 2.5rem;
    text-align: center;
    line-height: 2.3rem;
    border: 1px solid #FFFFFF;
    background-color: #0f3460;
    border-radius: 5px ;
    cursor: pointer;
}
#arrow_up i{
    font-size: 1.5rem;
    color: #FFFFFF;
}