/* .col-md-8{
    display: flex;
    flex-direction: column;
    align-items: center;
} */

form{
    display: flex;
    justify-content: center;
}

form input{
    padding: 0.4rem;
    border: 2px solid;
    border-radius: 3px;
    outline: 0;
    background-color: #1c2127;
    color: #e5ebf1;
}