ul{
    list-style: none;
}
ul li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid;
    padding: 0.3rem 1rem;
    margin-top: 0.5rem;
    background-color: #101112;
    color: #e5ebf1;
    font-size: 1.125rem;
}

